<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.control.general" />
	<context:component-scan base-package="com.control.referencia" />
	<context:component-scan base-package="com.control.proveedor" />
	<context:component-scan base-package="com.control.insumo" />
	<context:component-scan base-package="com.control.usuario" />
	<context:component-scan base-package="com.control.cliente" />
	<context:component-scan base-package="com.control.medico" />
	<mvc:annotation-driven /> 
	
	<mvc:annotation-driven/>
	<mvc:interceptors>
 		<mvc:interceptor>
    	<mvc:mapping path="/**/*" />
      		<bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
		        <property name="cacheSeconds" value="0"/>
		        <property name="useExpiresHeader" value="true"/>
		        <property name="useCacheControlHeader" value="true"/>
		        <property name="useCacheControlNoStore" value="true"/>
      		</bean>
  		</mvc:interceptor>
	</mvc:interceptors>
	
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="3145728" />
    </bean>
	
	<bean name="jdbcUsuario" class="com.control.usuario.UsuarioDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    <bean name="jdbcReferencia" class="com.control.referencia.ReferenciaDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    <bean name="jdbcProveedor" class="com.control.proveedor.ProveedorDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    <bean name="jdbcInsumo" class="com.control.insumo.InsumoDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>    
    <bean name="jdbcCliente" class="com.control.cliente.ClienteDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    <bean name="jdbcMedico" class="com.control.medico.MedicoDAO">
    	<property name="dataSource" ref="dataSource" />
    </bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
   		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/Control?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true" />
        <property name="username" value="root" />
        <property name="password" value="" />
   		<property name="maxActive" value="50" />
   		<property name="maxIdle" value="10" />
   		<property name="maxWait" value="20000" />
   		<property name="minIdle" value="1" />
   		<property name="validationQuery" value="SELECT 1" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" />
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>